<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sznake">

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true"/>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/snake_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/snake_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar">

        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameOverActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar">

        </activity>

    </application>

</manifest>